@model IEnumerable<Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="GroupCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Chat frequentie
            </th>
            <th>
                A. Leden
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.GroupChat.Messages.Count();
            </td>
            <td>
                @item.Users.Count();
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="GroupEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="GroupDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="GroupDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
